name: 'ToDo App RealTime'
services:
  fe:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    environment:
      - BASE_URL=api
    depends_on:
      - api
      - postgres_app
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/son/src/FE-app
      - /son/src/FE-app/node_modules/
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - postgres_app
    environment:
      - PORT=3001
      - DATABASE_PASSWORD=ns
      - BASE_URL=api
    volumes:
      - ./backend:/son/src/app
      - /son/src/app/node_modules/
    ports:
      - "3001:3001"
    # command: ["npm", "run", "start:dev"]
  postgres_app:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_PASSWORD=ns
      - JWT_SERECT=changeme
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data  # Correct usage of named volume

volumes:
  db_data:  # Define named volume correctly