apiVersion: apps/v1
kind: Deployment
metadata:
  name: fe-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fe
  template:
    metadata:
      labels:
        app: fe
    spec:
      containers:
      - name: fe
        image: nguyenson255/todosocket-fe
        ports:
        - containerPort: 80
        env:
        - name: BASE_URL_CHAT_API
          value: chat-service
        - name: BASE_URL_TODO_API
          value: todo-service
---
apiVersion: v1
kind: Service
metadata:
  name: fe-service
spec:
  selector:
    app: fe
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer      

        
